body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #252824;
}

body > #container {
  width: 700px;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 50px;
}

h2 {
  font-weight: bold;
  font-size:10pt;
  margin-bottom: 0px;
  padding-top: 15px;
  text-transform:uppercase;
  line-height: 12px;
}

a {
  color: #000;
  font-weight:400;
}

a:hover {  
  background-color: #FFFF66;
}

a.invisible {
  text-decoration:none;
  font-weight:300;
}

span.highlight {
  font-weight:500;
}

/*-- Bio ----------------*/

#bio {
  line-height: 22px;
  font-size:13pt;
  font-weight: 300;
}

/*-- Resume ----------------*/

#resume{
  font-size:11pt;
  padding-top: 18px;
}

p.job-description{
  font-size:11pt;
  line-height: 22px;
  font-weight: 300;
  margin-top: 0px;
  padding-top: 0px;
}

p.job-title{
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-weight: 500; 
}

p.list{
  font-size:11pt;
  line-height: 22px;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

p.list-first {
  padding-top:10px;
}

/*-- Footer ----------------*/
footer {
  font-size:8pt;
  padding-top: 22px;
}